<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MovieFinder</title>
  <link rel="stylesheet" href="../../styles.css"> 
</head>
<body>
  <header>
    <h1>MovieFinder</h1>
  </header>
  
  <main>
    <section>
      <h2>Search for Movies</h2>
		<p>
        <input type="text" id="search-input" placeholder="Enter a movie title">
        <button type="submit">Search</button>
        </p>
      <form id="search-form">
        <div class="filter">
          <label for="genre">Genre:<span lang="da">&nbsp; </span></label>&nbsp;<select id="genre">
            <option value="">All Genres</option>
            <option value="action">Action</option>
            <option value="action">Adventure</option>
            <option value="action">Animation</option>
            <option value="action">Biography</option>
            <option value="comedy">Comedy</option>
            <option value="action">Crime</option>
            <option value="drama">Drama</option>
            <option value="action">Family</option>
            <option value="action">Fantasy</option>
            <option value="action">Film noir</option>
            <option value="action">History</option>
            <option value="action">Horror</option>
            <option value="action">Music</option>
            <option value="action">Musical</option>
            <option value="action">Mystery</option>
            <option value="action">Romance</option>
            <option value="action">Sci-fy</option>
            <option value="action">Sport</option>
            <option value="action">Thriller</option>
            <option value="action">War</option>
            <option value="action">Western</option>
          </select>
        <br>
        <br>
        </div>
        <div class="filter">
          Year:
	        <span lang="da">&nbsp;&nbsp; </span>
	        <input type="text" id="search-input" placeholder="Enter year of release">
	        <button type="submit">Search</button>
          </select>
        <br>
        <br>
        </div>
        <div class="filter">
          <label for="rating">Rating:<span lang="da">&nbsp; </span></label>
          &nbsp;<select id="rating">
            <option value="">All Ratings</option>
            <option value="9">9 stars or above</option>
            <option value="8">8 stars or above</option>
            <option value="7">7 stars or above</option>
            <option value="7">6 stars or above</option>
            <option value="7">5 stars or above</option>
            <option value="7">4 stars or below</option>
            <option value="7">3 stars or below</option>
            <option value="7">2 stars or below</option>
          </select><br>&nbsp;<div class="filter">
          Actor:
	        <span lang="da">&nbsp;&nbsp; </span>
	        <input type="text" id="search-input" placeholder="Enter name of an actor">
	        <button type="submit">Search</button>
        <br><br><br>
        </div>
      </form>
      <div id="search-results">
        <!-- The search results will be dynamically added here -->
      </div>
    </section>
  </main>

  <footer>
    <p>&nbsp;</p>
  </footer>
  </body>
</html>
